<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="col-1">
        <ul>
          <li class="nav-item active">
            <a class="nav-link" href="#">Truyen</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Ao</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Quan</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Giay</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Phu kien</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Do trang tri</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Gau bong</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Khac</a>
          </li>
        </ul>
      </div>
      <div class="col-11">
        <div>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
        <div>anh sp</div>
      </div>
    </div>
  </body>
</html>
