<!-- Home slide -->
<div>
  <carousel>
    <slide>
      <img
        src="../../../assets/img/hero-bg.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="single-homepage-slider homepage-bg-1">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                <div class="hero-text">
                  <div class="hero-text-tablecell">
                    <p class="subtitle">Fresh & Organic</p>
                    <h1>Delicious Seasonal Fruits</h1>
                    <div class="hero-btns">
                      <a
                        class="nav-link boxed-btn"
                        [routerLink]="['/products']"
                        routerLinkActive="active"
                        >Fruit Collection</a
                      >
                      <a
                        class="nav-link bordered-btn"
                        [routerLink]="['/contact']"
                        routerLinkActive="active"
                        >Contact Us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <img
        src="../../../assets/img/hero-bg-2.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="single-homepage-slider homepage-bg-2">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1 text-center">
                <div class="hero-text">
                  <div class="hero-text-tablecell">
                    <p class="subtitle">Fresh Everyday</p>
                    <h1>100% Organic Collection</h1>
                    <div class="hero-btns">
                      <a
                        class="nav-link boxed-btn"
                        [routerLink]="['/products']"
                        routerLinkActive="active"
                        >Fruit Collection</a
                      >
                      <a
                        class="nav-link bordered-btn"
                        [routerLink]="['/contact']"
                        routerLinkActive="active"
                        >Contact Us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
    <slide>
      <img
        src="../../../assets/img/hero-bg-3.jpg"
        alt="third slide"
        style="display: block; width: 100%"
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="single-homepage-slider homepage-bg-3">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-1 text-right">
                <div class="hero-text">
                  <div class="hero-text-tablecell">
                    <p class="subtitle">Mega Sale Going On!</p>
                    <h1>Get December Discount</h1>
                    <div class="hero-btns">
                      <a
                        class="nav-link boxed-btn"
                        [routerLink]="['/products']"
                        routerLinkActive="active"
                        >Fruit Collection</a
                      >
                      <a
                        class="nav-link bordered-btn"
                        [routerLink]="['/contact']"
                        routerLinkActive="active"
                        >Contact Us</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</div>
<!-- Support -->
<div class="list-section pt-80 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="bi bi-truck"></i>
          </div>
          <div class="content">
            <h3>Free Shipping</h3>
            <p>When order over $75</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="bi bi-telephone"></i>
          </div>
          <div class="content">
            <h3>24/7 Support</h3>
            <p>Get support all day</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="list-box d-flex justify-content-start align-items-center">
          <div class="list-icon">
            <i class="bi bi-arrow-repeat"></i>
          </div>
          <div class="content">
            <h3>Refund</h3>
            <p>Get refund within 3 days!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">Our</span> Products</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            fuga quas itaque eveniet beatae optio.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"
              ><img src="assets/img/products/product-img-1.jpg" alt=""
            /></a>
          </div>
          <h3>Strawberry</h3>
          <p class="product-price"><span>Per Kg</span> 85$</p>
          <a href="cart.html" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"
              ><img src="assets/img/products/product-img-2.jpg" alt=""
            /></a>
          </div>
          <h3>Berry</h3>
          <p class="product-price"><span>Per Kg</span> 70$</p>
          <a href="cart.html" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
        <div class="single-product-item">
          <div class="product-image">
            <a href="single-product.html"
              ><img src="assets/img/products/product-img-3.jpg" alt=""
            /></a>
          </div>
          <h3>Lemon</h3>
          <p class="product-price"><span>Per Kg</span> 35$</p>
          <a href="cart.html" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
