<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <div class="site-logo">
            <a class="navbar-brand col-3" routerLink="/">
              <img src="assets/img/lol.png" alt="" style="width: 150px" />
            </a>
          </div>

          <nav class="main-menu">
            <ul>
              <li class="current-list-item">
                <a
                  class="nav-link"
                  [routerLink]="['/home']"
                  routerLinkActive="active"
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="nav-link"
                  [routerLink]="['/about']"
                  routerLinkActive="active"
                  >About</a
                >
              </li>
              <li>
                <a
                  class="nav-link"
                  [routerLink]="['/new']"
                  routerLinkActive="active"
                  >News</a
                >
              </li>
              <li>
                <a
                  class="nav-link"
                  [routerLink]="['/contact']"
                  routerLinkActive="active"
                  >Contact</a
                >
              </li>
              <li>
                <a
                  class="nav-link"
                  [routerLink]="['/products']"
                  routerLinkActive="active"
                  >Product</a
                >
              </li>
              <li>
                <div class="header-icons">
                  <div
                    class="nav-link shopping-cart"
                    [routerLink]="['/cart']"
                    routerLinkActive="active"
                  >
                    <i class="bi bi-basket"></i>
                  </div>
                  <div class="mobile-hide search-bar-icon" href="#">
                    <i class="bi bi-search"></i>
                  </div>
                  <div class="dropdown">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-person-circle"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li
                        class="nav-item active ml-auto"
                        *ngIf="!serService.isLogIn()"
                      >
                        <a
                          class="nav-link dropdown-item active"
                          [routerLink]="['/login']"
                          >Login</a
                        >
                      </li>
                      <li class="nav-item active" *ngIf="!serService.isLogIn()">
                        <a
                          class="nav-link dropdown-item"
                          [routerLink]="['/signup']"
                          >Signup</a
                        >
                      </li>
                      <li
                        lass="nav-item active ml-auto"
                        *ngIf="serService.isLogIn()"
                      >
                        <a
                          class="nav-link dropdown-item"
                          href
                          (click)="serService.logout()"
                          >Logout</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
