<div class="nav">
  <div class="col-12 imgnav"></div>
  <!-- <div class="col-6 imgr"></div> -->
  <div class="bg">
    <a class="navbar-brand" href="/"
      ><img src="../../../assets/shopFAN.jpg" class="logo-img"
    /></a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Conan</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Doraemon</a>
      </li>
    </ul>
    <div>
      <nav class="navbar navbar-light bg-lignt dropdown">
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#collapsingNavbar2"
        >
          <span class="navbar-toggler-icon my-toggler"></span>
        </button>
      </nav>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Login</a>
        <a class="dropdown-item" href="#">Account</a>
        <a class="dropdown-item" href="#">Register</a>
      </div>
    </div>
  </div>
</div>
