// .logo-image {
//   height: 36px;
// }

// .navB{
//   width: 100%;
// }

// .teste{
//   border: 1px solid red;
// }

/* -----------------------------------------------------------------------------

# Header Styles

----------------------------------------------------------------------------- */
// ul.navbar-nav li.nav-item {
//   a.nav-link, &.active a.nav-link {
//     color: white;
//   }
// }

.top-header-area {
  // position: absolute;
  z-index: 999;
  width: 100%;
  padding: 25px 0;
  background-color: #051922;

  // &.white ul.navbar-nav li.nav-item {
  //   a.nav-link, &.active a.nav-link {
  //     color:orange;
  //   }
  // }
}

// ul.navbar-nav li.nav-item {
//   a.nav-link, &.active a.nav-link {
//     color: black;
//     font-weight: 700;
//     margin-right: 14px;
//   }
// }

// a.navbar-brand img {
//   max-width: 10px;
// }

nav.main-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        color: white;
        font-weight: 700;
        display: block;
        padding: 15px;
      }
    }

    // > li {
    //   position: relative;
    // }

    // ul.sub-menu {
    //   position: absolute;
    //   background-color: white;
    //   width: 220px;
    //   padding: 15px 15px;
    //   margin: 0;
    //   left: 0;
    //   top: 50px;
    //   border-radius: 3px;
    //   transition: 0.3s;
    //   opacity: 0;
    //   visibility: hidden;
    //   box-shadow: 0 0 20px #555555;

    //   li {
    //     a {
    //       color: #555;
    //       font-weight: 600;
    //       padding: 7px 10px;
    //       font-size: 13px;
    //     }

    //     display: block;
    //     text-align: left;
    //   }
    // }

    // > li:hover ul {
    //   opacity: 1;
    //   visibility: visible;
    // }

    li:last-child a {
      display: inline-block;
    }
  }

  > ul li:last-child {
    float: right;
  }
}

.site-logo {
  float: left;
  max-width: 150px;
}

ul.sub-menu li:last-child {
  float: none !important;
}

// .mean-container .mean-bar {
//   background-color: transparent;
//   position: absolute;
//   right: 0;
//   top: 15px;
// }

// .mean-bar a.meanmenu-reveal {
//   background-color: orange;
// }

// .main-menu-wrap {
//   position: relative;
// }

// .mean-container {
//   a.meanmenu-reveal {
//     span {
//       background-color: #051922;
//     }

//     color: black;
//   }

//   .mean-nav ul li {
//     a {
//       padding: 0.5em 5%;
//     }

//     li a {
//       padding: 0.5em 10%;
//     }

//     a.mean-expand {
//       font-size: 16px;
//       height: 10px;
//       line-height: 10px;
//       width: 15px;
//     }
//   }

//   a.meanmenu-reveal {
//     padding: 8px 8px 6px;
//   }
// }

// nav.mean-nav > ul > li:first-child > a {
//   border-top: none;
// }

.header-icons div {
  color: white;
  display: inline-block;
  padding: 10px;
}

.site-logo {
  padding: 6px 0;
}

.top-header-area.sepherate-header {
  ul li > a,
  .header-icons div {
    color: white;
  }
}

// nav.main-menu {
//   ul {
//     ul.sub-menu li {
//       a {
//         color: #555;
//         padding: 8px;
//         font-size: 13px;
//         font-weight: 600;
//       }

//       display: block;
//     }

//     li.current-list-item > a {
//       color: orange;
//     }
//   }

//   li {
//     &:hover > a {
//       color: orange;
//     }

//     a {
//       transition: 0.3s;
//     }
//   }
// }

// .top-header-area .header-icons div {
//   &:hover {
//     color: orange;
//   }

//   transition: 0.3s;
// }

// .sticky-wrapper {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   z-index: 999 !important;

//   &.is-sticky .top-header-area {
//     background-color: #051922;
//     padding: 15px 0;
//   }
// }

// .top-header-area {
//   transition: 0.3s;
// }

// ul.navbar-nav {
//   margin: 0 auto;
// }
