// /* -----------------------------------------------------------------------------

// # Footer Styles

// ----------------------------------------------------------------------------- */
.single-logo-item img {
  max-width: 180px;
  margin: 0 auto;
}

.logo-carousel-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.footer-area {
  background-color: #051922;
  color: #fff;
  padding: 150px 0;
}

h2.widget-title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: white;

  // &:after {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   width: 20px;
  //   height: 2px;
  //   background-color: orange;
  //   content: "";
  // }
}


.footer-box{
  p{
    color: white;
    opacity: 0.7;
    line-height: 1.8;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{

      opacity: 0.7;
      margin-bottom: 10px;
      line-height: 1.8;
    }
  }
  form{
    input[type=email]{
      border: none;
      background-color: #012738;
        width: 78%;
        padding: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: orange;
    }

    button{
      background-color: #012738;
      width: 20%;
      padding: 15px;
      margin-left: 5px;
      border: none;
      color: orange;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
      border: none;

    }
  }
}


.copyright {
  background-color: #051922;
  border-top: 1px solid #232a35;

  p{
    margin: 0;
    color: #fff;
    opacity: 0.7;
    padding: 16px 0;
    font-size: 15px;
  }
  a {
    color: orange;
    font-weight: 700;
    &:hover {
      color: lighten(white, 10%);
    }
  }
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: right;

  li {
    display: inline-block;

    a {
      font-size: 16px;
      color: #fff;
      opacity: 0.7;
      padding: 16px 10px;
      display: block;
    }
  }
}

.footer-box {
  ul li a {
    color: #fff;
  }

  &.pages ul li {
    position: relative;
    padding-left: 10px;
  }
}
